{{#each books as |book|}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">Title: {{book.author}}</p>
    <p class="card-text">ID: {{book.id}}</p>
  </div>
</div>
{{/each}}
